{% extends "_layout.jinja2" %}

{% block title %}
    {% if conductor.id == None %}
        Nouveau conducteur
    {% else %}
        Modifier un conducteur
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10">
                {% if conductor.id == None %}
                    <h1>Nouveau conducteur</h1>
                {% else %}
                    <h1>Modifier un conducteur</h1>
                    <h2>{{ conductor.name }}</h2>
                {% endif %}
            </div>
            <div class="col-2 text-end">
                <a href="{{ url_for("conductors.conductorsList", show_guid=show.id) }}" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-left"></i> Retour</a>
            </div>
        </div>
        {% if conductor.id == None %}
            <p class="lead">
                Entrez ici les paramètres de ce nouveau conducteur.
            </p>
        {% else %}

            <p class="lead">
                Ici, vous pouvez modifier les paramètres du conducteur "{{ conductor.name }}" de l'émission "{{ show.name }}".
            </p>
        
        {% endif %}


        <form action="" method="post">

            {% if form.errors.values() %}
                <div class="alert alert-danger">
                    Pas si vite ! Les erreurs suivantes ont été détectées :
                    <ul class="mt-2">
                        {% for field, errors in form.errors.items() %}
                            {% for error in errors %}
                                <li>{{ form[field].label.text }} : {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div id="typeFieldContainer">
                <div class="mb-3 row">
                    {{ form.type.label(class="col-form-label col-sm-3") }}
                    <div class="col-sm-9">
                        <div class="input-group">
                            {{ form.type(class="form-control") }}
                        </div>
                        {% if form.type.description %}<div class="form-text">{{ form.type.description }}</div>{% endif %}
                    </div>
                </div>
            </div>
            
            <fieldset>
                <legend>Général</legend>

                <div class="mb-3 row">
                    {{ form.name.label(class="col-form-label col-sm-3") }}
                    <div class="col-sm-9">
                        {{ form.name(class="form-control") }}
                        {% if form.name.description %}<div class="form-text">{{ form.name.description }}</div>{% endif %}
                    </div>
                </div>

                <div id="showFieldsContainer">

                    {% if not conductor.id %}
                        <div class="mb-3 row">
                            {{ form.fromTemplate.label(class="col-form-label col-sm-3") }}
                            <div class="col-sm-9">
                                {{ form.fromTemplate(class="form-control") }}
                                {% if form.fromTemplate.description %}<div class="form-text">{{ form.fromTemplate.description }}</div>{% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="mb-3 row">
                        {{ form.day.label(class="col-form-label col-sm-3") }}
                        <div class="col-sm-9">
                            <div class="input-group">
                                {{ form.day(class="form-control") }}
                                <span class="input-group-text">/</span>
                                {{ form.month(class="form-control") }}
                                <span class="input-group-text">/</span>
                                {{ form.year(class="form-control") }}
                            </div>
                            {% if form.day.description %}<div class="form-text">{{ form.day.description }}</div>{% endif %}
                        </div>
                    </div>

                    <div class="mb-3 row">
                        {{ form.guests.label(class="col-form-label col-sm-3") }}
                        <div class="col-sm-9">
                            {{ form.guests() }}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            Rôle
                                        </th>
                                        <th scope="col">
                                            Nom
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for role in show.roles.split("\n") %}
                                        <tr>
                                            <th scope="row">
                                                <label for="guest-number-{{ loop.index }}" class="col-form-label d-block">
                                                    {{ role }}
                                                </label>
                                            </th>
                                            <td>
                                                <input type="text" class="form-control guest-role-field" id="guest-number-{{ loop.index }}">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if form.guests.description %}<div class="form-text">{{ form.guests.description }}</div>{% endif %}
                        </div>
                    </div>
                    <script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", () => {
                            const guestValue = document.getElementById("guests");
                            const guestVirtualFields = document.getElementsByClassName("guest-role-field");

                            // On liste tous les guests
                            let guests = guestValue.value.split("\n");
                            
                            // On liste tous les champs virtuels
                            for(let i=0; i<guestVirtualFields.length; i++) {
                                const field = guestVirtualFields[i];

                                // On défini la valeur par défaut de ce champ virtuel
                                field.value = guests[i] ?? "";

                                // On déclare l'event pour mettre à jour la valeur réelle
                                field.addEventListener("keyup", (e) => {
                                    guests[i] = e.target.value;

                                    guestValue.value = guests.join("\n");
                                });
                            }
                        });
                    </script>

                    <div class="mb-3 row">
                        {{ form.vdoEnable.label(class="col-form-label col-sm-3") }}
                        <div class="col-sm-9">
                            {{ form.vdoEnable(class="form-check-input") }}
                            {{ form.vdoEnable.label(class="form-check-label") }}
                            {% if form.vdoEnable.description %}<div class="form-text">{{ form.vdoEnable.description }}</div>{% endif %}
                        </div>
                    </div>

                    <div class="mb-3 row">
                        {{ form.vdoPassword.label(class="col-form-label col-sm-3") }}
                        <div class="col-sm-9">
                            {{ form.vdoPassword(class="form-control") }}
                            {% if form.vdoPassword.description %}<div class="form-text">{{ form.vdoPassword.description }}</div>{% endif %}
                        </div>
                    </div>

                    <hr>

                    <div class="mb-3 row">
                        {{ form.resetStatus.label(class="col-form-label col-sm-3") }}
                        <div class="col-sm-9">
                            {{ form.resetStatus(class="form-check-input") }}
                            {{ form.resetStatus.label(class="form-check-label") }}
                            {% if form.resetStatus.description %}<div class="form-text">{{ form.resetStatus.description }}</div>{% endif %}
                        </div>
                    </div>

                </div>

            </fieldset>

            <div class="col-12">
                {{ form.hidden_tag() }}
                {{ form.id }}
                {{ form.show_id }}
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>

        <script>
            function generatePassword() {
                const chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
                const guidLength = 12; // Longueur du GUID
                let guid = '';

                for (let i = 0; i < guidLength; i++) {
                    const randomIndex = Math.floor(Math.random() * chars.length);
                    guid += chars[randomIndex];
                }

                return guid;
            }

            function updateView(type, edit=false) {
                let showContainer = document.getElementById("showFieldsContainer");
                let typeContainer = document.getElementById("typeFieldContainer");
                if(type == "operational")
                    showContainer.style.display = "block";
                else
                    showContainer.style.display = "none";

                if(edit)
                    typeContainer.style.display = "none";
                else
                    typeContainer.style.display = "block";
            }

            const editMode = {{ "true" if editMode else "false" }};
            const typeField = document.getElementById("{{ form.type.id }}");

            typeField.addEventListener("change", function(e) {
                updateView(e.target.value);
            });

            updateView(typeField.value, editMode);
        </script>
        
    </div>
{% endblock %}