{% extends "conductors/_layoutConductor.jinja2" %}

{% block title %}
    {{ conductor.name }} - {{ "Modèle" if conductor.type=="template" else "Conducteur" }}
{% endblock %}

{% block content %}
    {% include 'conductors/conductorView/header.jinja2' %}
    <div class="px-4">
        <table class="table" id="cond-main-table">
            <thead>
                <tr class="cond-headers">
                    <th scope="col" class="cond-edit-mode" width="15">
                        <i class="bi bi-grip-vertical"></i>
                    </th>
                    <th scope="col" class="cond-read-mode" width="15">
                        <i class="bi bi-check-lg"></i>
                    </th>
                    <th scope="col">
                        Contenu
                    </th>
                    <th scope="col" class="text-center" width="50">
                        <i class="bi bi-easel" title="Jingle"></i>
                    </th>
                    <th scope="col" class="cond-edit-mode text-end" width="100">
                        Actions
                    </th>
                </tr>
                <tr class="cond-edit-mode cond-insertion-adder">
                    <td colspan="4">
                        <a class="cond-insertion-adder-link" href="#" onclick="clickLineEdit(); return false;">
                            <i class="bi bi-plus-square"></i> Insérer une ligne
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody class="cond-edit-mode cond-fakeline">
            </tbody>
            {% for _ in range(10) %}
                {% set id = generator() %}
                <tbody class="cond-line cond-line-type-classic" id="cond-line-{{id}}">
                    <tr class="cond-line-display">
                        <td class="cond-edit-mode h5 text-center align-middle">
                        </td>
                        <td class="cond-line-done cond-read-mode h5 text-center">
                        </td>
                        <td class="cond-line-content placeholder-wave">
                            
                            <h3 class="cond-line-title">
                                <span class="placeholder col-1 placeholder-lg"></span>
                                <span class="placeholder col-3 placeholder-lg"></span>
                            </h3>
                            <div class="cond-line-text">
                                <span class="placeholder col-3 placeholder-sm"></span>
                                <span class="placeholder col-1 placeholder-sm"></span>
                                <span class="placeholder col-4 placeholder-sm"></span>
                                <span class="placeholder col-2 placeholder-sm"></span><br>
                                <span class="placeholder col-2 placeholder-sm"></span>
                                <span class="placeholder col-4 placeholder-sm"></span>
                                <span class="placeholder col-1 placeholder-sm"></span>
                            </div>
                            <div class="cond-line-medias">
                                <table class="table table-striped">
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td class="cond-line-actions cond-edit-mode text-end">
                        </td>
                    </tr>
                    <tr class="cond-edit-mode cond-insertion-adder">
                    </tr>
                </tbody>
            {% endfor %}
        </table>
        {% include 'conductors/conductorView/toasts.jinja2' %}
        {% include 'conductors/conductorView/modals/editLine.jinja2' %}
        {% include 'conductors/conductorView/modals/editMedia.jinja2' %}
        {% include 'conductors/conductorView/modals/preview.jinja2' %}
        {% if conductor.vdoEnable %}
            {% include 'conductors/conductorView/modals/vdo.jinja2' %}
        {% endif %}
    </div>

    <script>
        const conductorType = "{{ conductor.type }}";

        let currentMedia = "{{ conductor.currentMedia }}";

        const activateMedias = (conductorType!="template");

        const defaultMediaChannels = {{ defaultMediaChannels | tojson }};
        const defaultWebChannels = {{ defaultWebChannels | tojson }};

        const currentShowID = "{{ show.id }}";
        const currentConductorID = "{{ conductor.id }}";

        const mediasDir = "{{ medias_dir }}";

        const webBase = "{{ web_base }}";

        const jinglesList = {
            {% for j in jingles %}
                "{{ j.id }}": "{{ j.name.replace('"', '\\"') }}",
            {% endfor %}
        };

        let diskTotal = {{ disk["capacity"] }};
        let diskUsed = {{ disk["used"] }};
        let diskFree = {{ disk["free"] }};
        let diskPercentage = {{ disk["percentage"] }};
    </script>
{% endblock %}

{% block endbody %}
{% endblock %}
