{% extends "_layout.jinja2" %}

{% block title %}
    Liste des conducteurs - {{ show.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1>Conducteurs</h1>
                <h2>{{ show.name }}</h2>
            </div>
            <div class="col-2 text-end">
                <a href="{{ url_for("conductors.showsList") }}" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-left"></i> Retour</a>
            </div>
        </div>

        <p class="lead">Vous pouvez gérer ici les différents conducteurs pour l'émission {{ show.name }}.</p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary" href="{{ url_for("conductors.conductorsEdit", show_guid=show.id) }}">
                <i class="bi bi-plus-square-fill"></i> Créer un conducteur
            </a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" width="40%">Nom</th>
                    <th scope="col">Date</th>
                    <th scope="col"><abbr title="Participants" class="abbr">Part.</abbr></th>
                    <th scope="col">VDO actif</th>
                    <th scope="col"><abbr title="Mot de passe" class="abbr">MDP</abbr></th>
                    <th scope="col" class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for c in conductors %}
                    <tr>
                        <td class="h4">
                            <a href="{{ url_for("conductors.conductorsView", show_guid=show.id, cond_guid=c.id) }}">
                                {{ c.name }}
                            </a>
                        </td>
                        <td>
                            {{ c.date.strftime("%d %B %Y") }}
                        </td>
                        <td>
                            {{ c.guests.split("\n") | length if c.guests.strip()!="" else "Aucun" }}
                        </td>
                        <td>
                            {{ "Oui" if c.vdoEnable else "Non" }}
                        </td>
                        <td>
                            {{ "Oui" if c.vdoPassword!="" else "Non" }}
                        </td>
                        <td class="text-end">
                            <a href="{{ url_for("conductors.conductorsView", show_guid=show.id, cond_guid=c.id) }}" class="btn btn-primary" title="Ouvrir le conducteur"><i class="bi bi-folder2-open"></i> Ouvrir</a>
                            <div class="btn-group" role="group">
                                <a href="{{ url_for("conductors.conductorsEdit", show_guid=show.id, cond_guid=c.id) }}" class="btn btn-secondary" title="Modifier"><i class="bi bi-pen-fill"></i></a>
                                <a href="{{ url_for("conductors.conductorsDelete", show_guid=show.id, cond_guid=c.id) }}" class="btn btn-danger" title="Supprimer"><i class="bi bi-trash-fill"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center fst-italic">
                            Aucun conducteur n'a été créé pour le moment.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>

        <h1>Modèles</h1>

        <p class="lead">
            Les modèles vous permettent d'avoir des conducteurs types à dupliquer lors de la création de conducteurs.
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" width="70%">Nom</th>
                    <th scope="col" class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for c in templates %}
                    <tr>
                        <td class="h4">
                            <a href="{{ url_for("conductors.conductorsView", show_guid=show.id, cond_guid=c.id) }}">
                                {{ c.name }}
                            </a>
                        </td>
                        <td class="text-end">
                            <a href="{{ url_for("conductors.conductorsView", show_guid=show.id, cond_guid=c.id) }}" class="btn btn-primary" title="Ouvrir le template"><i class="bi bi-folder2-open"></i> Ouvrir le template</a>
                            <div class="btn-group" role="group">
                                <a href="{{ url_for("conductors.conductorsEdit", show_guid=show.id, cond_guid=c.id) }}" class="btn btn-secondary" title="Modifier"><i class="bi bi-pen-fill"></i></a>
                                <a href="{{ url_for("conductors.conductorsDelete", show_guid=show.id, cond_guid=c.id) }}" class="btn btn-danger" title="Supprimer"><i class="bi bi-trash-fill"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center fst-italic">
                            Aucun template n'a été créé pour le moment.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}