# Exclure tous les dossiers __pycache__
__pycache__/

# Fichiers de compilation
*.pyc
*.pyo
*.pyd

# Fichiers de cache
.cache/

# Dossiers de virtualenv ou d'environnement virtuel
venv/
env/
ENV/

# Configuration du script
config.env

# Base de données
database.db

# Dossiers de contenu
images/*
!images/.gitkeep
medias/*
!medias/.gitkeep
tmp_medias/*
!tmp_medias/.gitkeep

# Fichiers de log
*.log

# Fichiers temporaires
*~

# Dossiers et fichiers de configuration spécifiques à l'IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers de sauvegarde
*.bak
*.swp

# Fichiers de sortie (ex: .coverage, coverage/)
.coverage
coverage*/


# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Windows
Desktop.ini
Thumbs.db