<!DOCTYPE html>
<html>
    <head>
        <title>Viewer</title>

        <link rel="stylesheet" href="/static/css/channels/viewer.css">
    </head>
    <body>
        <div id="interact">
            <div>
                Glissez le curseur pour initialiser le canal :
                <input type="range" min="0" max="100" step="1" value="0" id="unlockRange">

                <script>
                    const unlockRange = document.getElementById("unlockRange");
                    const interactContainer = document.getElementById("interact");

                    unlockRange.addEventListener("input", (e) => {
                        if(e.target.value >= 100) {
                            interactContainer.style.display = "none";
                        }
                    });
                    unlockRange.addEventListener("mouseup", (e) => {
                        e.target.value = 0;
                    });
                </script>
            </div>
        </div>
        <div id="identifier">
            {% if channel %}
                <div id="identifier_id">
                    {{ channel.id }}
                </div>
                <div id="identifier_name">
                    {{ channel.name }}
                </div>
                <div id="identifier_show">
                    {{ channel.show.name }}
                </div>
                <div id="identifier_resolution">
                    {{ channel.width }}x{{ channel.height }}
                </div>
            {% endif %}
        </div>
        <div id="connectionAlert" class="alert">
            <div class="alertText">
                Connexion interrompue.
            </div>
        </div>
        <div id="notFoundAlert" class="alert">
            <div class="alertText">
                Canal média introuvable.
            </div>
        </div>
        <div id="main">
            <div id="jingle">
                <video id="jingleVideoElement"></video>
            </div>
            <!--<div class="media_item video">
                <div class="media_osd">
                </div>
                <div class="media_credit">
                    {{ viewerID | safe }}
                </div>
                <div class="media_foreground">
                    <video src="/medias/test.webm" id="fff"></video>
                </div>
                <div class="media_background">
                    <video src="/medias/test.webm" muted></video>
                </div>
            </div>-->
        </div>

        <style>
            {{ channel.customCSS }}
        </style>

        <script>
            // ID du viewer en cours
            const viewerID = "{{ channel.id if channel else "" }}";

            {% if not channel %}
                window.addEventListener("DOMContentLoaded", () => {
                    document.getElementById("notFoundAlert").style.opacity = 1;
                    document.getElementById("identifier").classList.add("hide");
                })
            {% endif %}
        </script>
        <script src="/static/js/socket/socket.io.min.js"></script>
        <script src="/static/js/channels/viewer.js"></script>
    </body>
</html>