<!DOCTYPE html>
<html>
    <head>
        <title>Viewer</title>

        <link rel="stylesheet" href="/static/css/channels/viewer.css">
    </head>
    <body>
        <div id="identifier">
            <div id="identifier_id">
                {{ channel.id }}
            </div>
            <div id="identifier_name">
                {{ channel.name }}
            </div>
            <div id="identifier_resolution">
                {{ channel.width }}x{{ channel.height }}
            </div>
            <div id="identifier_show">
                {{ channel.show.name }}
            </div>
        </div>
        <div id="connectionAlert">
            <div class="connectionAlert_text">
                Pas de connexion
            </div>
        </div>
        <div id="main">
            <div id="jingle">
                <video id="jingleVideoElement"></video>
            </div>
            <!--<div class="media_item video">
                <div class="media_credit">
                    {{ viewerID | safe }}
                </div>
                <div class="media_foreground">
                    <video src="/medias/test.webm" id="fff"></video>
                </div>
                <div class="media_background">
                    <video src="/medias/test.webm" muted></video>
                </div>
            </div>-->
        </div>


        <style>
            {{ channel.customCSS }}
        </style>

        <script>
            // ID du viewer en cours
            const viewerID = "{{ channel.id }}";
        </script>
        <script src="/static/js/socket/socket.io.min.js"></script>
        <script src="/static/js/channels/viewer.js"></script>
    </body>
</html>