<!-- Line edit form modal -->
<div class="modal fade" id="editLineFormModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editLineFormModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="formEditLine">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editLineFormModalTitle">Ligne</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div id="fTypeContainer">
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-3" for="fType">
                                    Type
                                </label>
                                <div class="col-9">
                                    <select id="fType" name="type" class="form-select">
                                        <option value="classic">Contenu classique</option>
                                        <option value="section">Rubrique</option>
                                        <option value="comment">Commentaire</option>
                                        <option value="important">Remarque importante</option>
                                    </select>
                                    <span class="form-text">
                                        Définit le type de ligne qui sera inséré dans le conducteur.<br>
                                        <b>Attention : cette option ne pourra plus être changée par la suite.</b>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div id="fNameContainer">
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-3" for="fName">
                                    Nom
                                </label>
                                <div class="col-9">
                                    <input type="text" id="fName" name="name" class="form-control">
                                    <span class="form-text">
                                        Permet de donner un nom à votre ligne.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div id="fHighlightContainer">
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-3" for="fHighlight">
                                    Sommaire
                                </label>
                                <div class="col-9">
                                    <input type="checkbox" id="fHighlight" name="highlight" class="form-check-input">
                                    <label for="fHighlight">Intégrer au sommaire</label>
                                    <div class="form-text">
                                        Considère cette ligne comme une entrée du sommaire.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="fTextContainer">
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-3" for="fText">
                                    Texte
                                </label>
                                <div class="col-9">
                                    <textarea id="fText" name="text" rows="7" class="form-control" style="resize: none;"></textarea>
                                    <span class="form-text">
                                        Entrez ici un texte décrivant votre contenu.<br>
                                        <span class="text-info">Astuce : dans les lignes classiques, vous pouvez mettre en forme votre texte avec du Markdown !</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div id="fJingleContainer">
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-3" for="fJingle">
                                    Jingle
                                </label>
                                <div class="col-9">
                                    <select id="fJingle" name="jingle" class="form-select">
                                        <option value="">- Aucun jingle -</option>
                                        {% for j in jingles %}
                                            <option value="{{ j.id }}">{{ j.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="form-text">
                                        Facultatif. Vous permet d'attacher un jingle à cette ligne.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div id="fTagsContainer">
                            <div class="accordion mb-3" id="accordionLineTags">
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLineTagsPan" aria-expanded="false" aria-controls="collapseOne">
                                            <i class="bi bi-database-fill-gear"></i>&nbsp;
                                            Tags
                                        </button>
                                    </div>
                                    <div id="accordionLineTagsPan" class="accordion-collapse collapse" data-bs-parent="#accordionLineTags">
                                        <div class="accordion-body">

                                            {% if show.tagsNotes.strip()!="" %}
                                                <div class="alert alert-info">
                                                    <div>{{ show.tagsNotes | replace('\n', '<br>') | safe }}</div>
                                                </div>
                                            {% else %}
                                                <p>
                                                    Les tags permettent de transmettre des données personnalisées via l'API de Weebo.<br>
                                                    L'administrateur n'a pas donné de consigne particulière concernant les tags de cette émission.
                                                </p>
                                                <p>
                                                    Il est possible que les tags n'aient pas d'usage propre pour cette émission.
                                                </p>
                                            {% endif %}
                                        
                                            <div class="row mb-3">
                                                <label class="col-form-label col-sm-3" for="fTag1">
                                                    {{ show.tagName1 if show.tagName1.strip()!="" else "Tag #1" }}
                                                </label>
                                                <div class="col-9">
                                                    <input type="text" id="fTag1" name="tag1" class="form-control" style="font-family: monospace;">
                                                </div>
                                            </div>
                                        
                                            <div class="row mb-3">
                                                <label class="col-form-label col-sm-3" for="fTag2">
                                                    {{ show.tagName2 if show.tagName2.strip()!="" else "Tag #2" }}
                                                </label>
                                                <div class="col-9">
                                                    <input type="text" id="fTag2" name="tag2" class="form-control" style="font-family: monospace;">
                                                </div>
                                            </div>
                                        
                                            <div class="row mb-3">
                                                <label class="col-form-label col-sm-3" for="fTag3">
                                                    {{ show.tagName3 if show.tagName3.strip()!="" else "Tag #3" }}
                                                </label>
                                                <div class="col-9">
                                                    <input type="text" id="fTag3" name="tag3" class="form-control" style="font-family: monospace;">
                                                </div>
                                            </div>
                                        
                                            <div class="row mb-3">
                                                <label class="col-form-label col-sm-3" for="fTag4">
                                                    {{ show.tagName4 if show.tagName4.strip()!="" else "Tag #4" }}
                                                </label>
                                                <div class="col-9">
                                                    <input type="text" id="fTag4" name="tag4" class="form-control" style="font-family: monospace;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <input type="hidden" name="id" id="fId" value="">
                    <input type="hidden" name="insertAfter" id="fInsertAfter" value="">
                    <button type="submit" class="btn btn-primary" id="fSubmit">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>