<!-- VDO.ninja modal -->
<div class="modal fade" id="vdoModal" tabindex="-1" aria-labelledby="vdoModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="vdoModalTitle">Paramètres VDO</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-vdo-modal-tabs" role="tablist">
                        <button class="nav-link active" id="nav-vdo-modal-users-tab" data-bs-toggle="tab" data-bs-target="#nav-vdo-modal-users" type="button" role="tab" aria-controls="nav-vdo-modal-users" aria-selected="true">
                            <i class="bi bi-people-fill"></i>
                            Liens d'invitation
                        </button>
                        <button class="nav-link" id="nav-vdo-modal-obs-camera-tab" data-bs-toggle="tab" data-bs-target="#nav-vdo-modal-obs-camera" type="button" role="tab" aria-controls="nav-vdo-modal-obs-camera" aria-selected="false">
                            <i class="bi bi-camera-video-fill"></i>
                            Caméras OBS
                        </button>
                        <button class="nav-link" id="nav-vdo-modal-obs-capture-tab" data-bs-toggle="tab" data-bs-target="#nav-vdo-modal-obs-capture" type="button" role="tab" aria-controls="nav-vdo-modal-obs-capture" aria-selected="false">
                            <i class="bi bi-display-fill"></i>
                            Captures d'écrans OBS
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-vdo-modal-contents">
                    <div class="tab-pane show active" id="nav-vdo-modal-users" role="tabpanel" aria-labelledby="nav-vdo-modal-users-tab" tabindex="0">

                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="25%">Participant</th>
                                    <th scope="col">Lien</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for l in vdoLinks %}
                                    <tr>
                                        <td>
                                            <span class="fw-bold">
                                                <i class="bi bi-display-fill"></i>
                                                {{ l.name }}</span><br>
                                            <span class="text-body-secondary">{{ l.role }}</span>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <a href="{{ l.link_invite }}" class="btn btn-primary" data-confirm-message="ATTENTION : Accès réservé à {{ l.name }}. Est-ce bien vous ?" onclick="if(confirm(this.dataset.confirmMessage)) window.open(this.href); return false;">
                                                    <i class="bi bi-box-arrow-up-right"></i>
                                                    Accéder
                                                </a>
                                                <input type="text" class="form-control font-monospace" readonly value="{{ l.link_invite }}" onclick="this.select();">
                                                <button type="button" class="btn btn-secondary" onclick="this.previousElementSibling.select(); document.execCommand('copy');">
                                                    <i class="bi bi-copy"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <div class="alert alert-warning mt-3" role="alert">
                            Pour éviter de mélanger les caméras, merci de bien vous assurer d'utiliser <strong>votre</strong> lien et pas celui de quelqu'un d'autre !
                        </div>

                        <div class="row mb-3">
                            <label class="col-form-label col-3" for="vdoInviteLinkOtherGuests">
                                <i class="bi bi-people"></i>
                                Autres participants
                            </label>
                            <div class="col-9">
                                <div class="input-group">
                                    <a href="{{ guestsLink }}" class="btn btn-secondary" onclick="window.open(this.href); return false;">
                                        <i class="bi bi-box-arrow-up-right"></i>
                                        Accéder
                                    </a>
                                    <input type="text" id="vdoInviteLinkOtherGuests" class="form-control font-monospace" readonly value="{{ guestsLink }}" onclick="this.select();">
                                    <button type="button" class="btn btn-secondary" onclick="this.previousElementSibling.select(); document.execCommand('copy');">
                                        <i class="bi bi-copy"></i>
                                    </button>
                                </div>
                                <span class="form-text">
                                    Lien d'invitation hors intervenants de l'émission non destinés à passer à l'antenne.
                                </span>
                            </div>
                        </div>

                        <hr>

                        <div class="row mb-3">
                            <label class="col-form-label col-3" for="vdoDirectorLink">
                                <i class="bi bi-camera-reels-fill"></i>
                                Accès réalisateur
                            </label>
                            <div class="col-9">
                                <div class="input-group">
                                    <a href="{{ directorLink }}" class="btn btn-primary" onclick="window.open(this.href); return false;">
                                        <i class="bi bi-box-arrow-up-right"></i>
                                        Accéder
                                    </a>
                                    <input type="text" id="vdoDirectorLink" class="form-control font-monospace" readonly value="{{ directorLink }}" onclick="this.select();">
                                    <button type="button" class="btn btn-secondary" onclick="this.previousElementSibling.select(); document.execCommand('copy');">
                                        <i class="bi bi-copy"></i>
                                    </button>
                                </div>
                                <span class="form-text">
                                    Ce lien vous donne accès à l'interface de contrôle de la room VDO.<br>
                                    <b>Ne le transmettez pas à n'importe qui !</b>
                                </span>
                            </div>
                        </div>

                        {% if conductor.vdoPassword | trim != "" %}
                            <hr>

                            <div class="row mb-3">
                                <label class="col-form-label col-3" for="vdoPassword">
                                    <i class="bi bi-key-fill"></i>
                                    Mot de passe
                                </label>
                                <div class="col-9">
                                    <div class="input-group">
                                        <input type="text" id="vdoPassword" class="form-control font-monospace" readonly value="{{ conductor.vdoPassword }}" onclick="this.select();">
                                        <button type="button" class="btn btn-secondary" onclick="this.previousElementSibling.select(); document.execCommand('copy');">
                                            <i class="bi bi-copy"></i>
                                        </button>
                                    </div>
                                    <span class="form-text">
                                        Ce mot de passe vous est indispensable pour accéder à la room VDO.
                                    </span>
                                </div>
                            </div>
                        {% endif %}


                    </div>


                    <div class="tab-pane" id="nav-vdo-modal-obs-camera" role="tabpanel" aria-labelledby="nav-vdo-modal-obs-camera-tab" tabindex="1">
                        <p>
                            Vous pouvez trouver ici les liens permettant l'intégration des <strong>caméras</strong> de chaque participant.
                        </p>
                    
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="30%">Participant</th>
                                    <th scope="col">Lien</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for l in vdoLinks %}
                                    <tr>
                                        <td>
                                            <span class="fw-bold">
                                                <i class="bi bi-display-fill"></i>
                                                {{ l.name }}</span><br>
                                            <span class="text-body-secondary">{{ l.role }}</span>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="bi bi-magic" title="Lien magique"></i>
                                                </span>
                                                <input type="text" class="form-control font-monospace" readonly value="{{ l.permalink_solo }}" onclick="this.select();">
                                                <button type="button" class="btn btn-primary" onclick="this.previousElementSibling.select(); document.execCommand('copy');">
                                                    <i class="bi bi-copy"></i>
                                                </button>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="bi bi-link" title="Lien permanent"></i>
                                                </span>
                                                <input type="text" class="form-control font-monospace" readonly value="{{ l.link_solo }}" onclick="this.select();">
                                                <button type="button" class="btn btn-secondary" onclick="this.previousElementSibling.select(); document.execCommand('copy');">
                                                    <i class="bi bi-copy"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="alert alert-info">
                            Il est recommandé d'utiliser les liens magiques, marqués d'un <i class="bi bi-magic"></i>, au lieu du lien direct.<br>
                            En effet, ces liens ciblent automatiquement les caméras du bon conducteur selon la date du jour.
                        </div>

                    </div>
                    
                    <div class="tab-pane" id="nav-vdo-modal-obs-capture" role="tabpanel" aria-labelledby="nav-vdo-modal-obs-capture-tab" tabindex="2">
                        <p>
                            Vous pouvez trouver ici les liens permettant l'intégration des <strong>captures d'écrans</strong> de chaque participant.
                        </p>

                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="30%">Participant</th>
                                    <th scope="col">Lien</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for l in vdoLinks %}
                                    <tr>
                                        <td>
                                            <span class="fw-bold">
                                                <i class="bi bi-display-fill"></i>
                                                {{ l.name }}</span><br>
                                            <span class="text-body-secondary">{{ l.role }}</span>
                                        </th>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="bi bi-magic" title="Lien magique"></i>
                                                </span>
                                                <input type="text" class="form-control font-monospace" readonly value="{{ l.permalink_capture_solo }}" onclick="this.select();">
                                                <button type="button" class="btn btn-primary" onclick="this.previousElementSibling.select(); document.execCommand('copy');">
                                                    <i class="bi bi-copy"></i>
                                                </button>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="bi bi-link" title="Lien permanent"></i>
                                                </span>
                                                <input type="text" class="form-control font-monospace" readonly value="{{ l.link_capture_solo }}" onclick="this.select();">
                                                <button type="button" class="btn btn-secondary" onclick="this.previousElementSibling.select(); document.execCommand('copy');">
                                                    <i class="bi bi-copy"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="alert alert-info">
                            Il est recommandé d'utiliser les liens magiques, marqués d'un <i class="bi bi-magic"></i>, au lieu du lien direct.<br>
                            En effet, ces liens ciblent automatiquement les captures d'écrans du bon conducteur selon la date du jour.
                        </div>

                    </div>
                </div>



            </div>

        </div>
    </div>
</div>