#toolsbar {
    background-color: rgba(var(--bs-dark-rgb), 0.7) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    height: 60px;
    padding: 0px 15px;
    box-sizing: border-box;
}

    #toolsbar h1 {
        margin: 0px 0px 3px 0px;
        font-size: 13pt;
        font-weight: bolder;
    }

    #toolsbar h2 {
        margin: 0px 0px 3px 0px;
        font-size: 9pt;
        font-weight: bold;
    }

    #toolsbar h3 {
        margin: 0px;
        font-size: 8pt;
        font-style: italic;
    }

    #toolsbar a.btn, #toolsbar button {
        display: table-cell;
        height: 50px;
        margin: 5px 2px;
    }


.cond-line-dragger {
    cursor: ns-resize;
}

body:not(.edit-mode) .cond-edit-mode {
    display: none;
}

body.edit-mode .cond-read-mode {
    display: none;
}

body.edit-mode #cond-main-table thead tr.cond-headers {
    position: sticky;
    top: 60px;
    z-index: 999;
}
#cond-main-table > thead tr th {
    background-color: rgba(var(--bs-dark-rgb), 0.7) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
}

#cond-main-table thead th {
    height: 50px;
    vertical-align: middle;
    font-size: 14pt;
}

.cond-insertion-adder td {
    padding: 0px;
}

a.cond-insertion-adder-link {
    display: block;
    width: 100%;
    height: 100%;
    transition: background-color .2s;
    background-color: rgb(0,50,0);
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 8pt;
    padding: 2px 0px;
}

a.cond-insertion-adder-link i::after {
    content: " ";
}

a.cond-insertion-adder-link:hover {
    background-color: rgb(0,170,0);
}

.cond-line[data-type=classic] {

}
    .cond-line[data-type=classic] .cond-line-title {
        font-size: 14pt;
        font-weight: bold;
        margin: 0px 0px 5px 0px;
    }

    .cond-line[data-type=classic] .cond-line-text {
        font-size: 10pt;
    }

    .cond-line[data-type=classic] .cond-line-desc {
        display: none;
    }
    .cond-line[data-type=classic] .cond-line-medias {
    }

.cond-line[data-type=section] {
}
    body:not(.edit-mode) .cond-line[data-type=section] .cond-line-display {
        position: sticky;
        top: 60px;
    }
    body:not(.edit-mode) .cond-line[data-type=section] .cond-line-display td {
        background-color: rgba(var(--bs-dark-rgb), 0.7) !important;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        -ms-backdrop-filter: blur(10px);
        -o-backdrop-filter: blur(10px);
        z-index: 1000;
    }
    .cond-line[data-type=section] .cond-line-done-checkbox {
            display: none;
    }
    .cond-line[data-type=section] .cond-line-title {
        font-size: 26pt;
        font-weight: bolder;
        margin: 0px;
        font-variant: small-caps;
        text-align: center;
    }
    .cond-line[data-type=section] .cond-line-text {
        display: none;
    }
    .cond-line[data-type=section] .cond-line-desc {
        text-align: center;
        font-size: 8pt;
    }
    .cond-line[data-type=section] .cond-line-medias {
        display: none;
    }

.cond-line[data-type=important] {
}
    .cond-line[data-type=important] .cond-line-title {
        display: none;
    }
    .cond-line[data-type=important] .cond-line-text {
        display: none;
    }
    .cond-line[data-type=important] .cond-line-desc {
        font-size: 16pt;
        color: rgb(255,255,200);
    }
    .cond-line[data-type=important] .cond-line-display td {
        background-color: rgb(130,130,0);
    }
    .cond-line[data-type=important] .cond-line-medias {
        display: none;
    }

.cond-line[data-type=comment] {
}
    .cond-line[data-type=comment] .cond-line-title {
        display: none;
    }
    .cond-line[data-type=comment] .cond-line-text {
        display: none;
    }
    .cond-line[data-type=comment] .cond-line-desc {
        color: gray;
        font-style: italic;
    }
    .cond-line[data-type=comment] .cond-line-medias {
        display: none;
    }

.cond-line[data-jingle=false] .cond-line-jingle-start-button {
    display: none;
}

body:not(.edit-mode) .cond-line-display:has(.cond-line-done-checkbox[type=checkbox]:checked) td {
    background-color: rgb(30,30,30) !important;
    color: rgb(100,100,100) !important;
    text-decoration: line-through;
}


#editLineFormModal, #editMediaFormModal, #vdoModal, #previewModal {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
}


@media screen and (max-width: 1000px) {
    .toolbar-button-label {
        display: none;
    }
}


.cond-line-medias table td {
    vertical-align: middle;
}

.cond-line-medias table:has(tr) {
    margin-top: 15px !important;
}

    .cond-medias-line-dragger {
        width: 40px;
        cursor: ns-resize;
    }

    .cond-medias-line-thumbnail {
        width: 50px;
        padding-right: 10px;
    }

        .cond-media-thumbnail-img {
            width: inherit;
            height: 30px;
            object-fit: cover;
            border: none;
            background-color: gray;
        }

        .cond-medias-line[data-type=web] .cond-media-thumbnail-img {
            display: none;
        }

        .cond-medias-line[data-type=media] .cond-media-thumbnail-web-icon {
            display: none;
        }

    .cond-medias-line-name {
        width: 100%;
        vertical-align: middle;
    }

    .cond-media-volume-icon {
        display: none;
        font-size: 16pt;
    }

    .cond-media-name {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
    }

    .cond-medias-line-credits {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-style: italic;
    }

    .cond-medias-line[data-volume-mode="mute"] .cond-media-volume-icon-mute {
        display: inline-block;
    }

    .cond-medias-line[data-volume-mode="low"] .cond-media-volume-icon-low {
        display: inline-block;
    }

    .cond-medias-line[data-volume-mode="high"] .cond-media-volume-icon-high {
        display: inline-block;
    }

    .cond-medias-line[data-type="web"] .cond-media-volume-icon {
        display: none !important;
    }

    .cond-medias-line[data-type="web"] .cond-medias-line-action-stop {
        display: none !important;
    }

    .cond-media-error-button {
        display: none;
    }

    .cond-medias-line.error .cond-media-error-button {
        display: inline-block;
    }

    .cond-medias-line[data-inprogress=true] .cond-media-name {
        font-style:italic;
        opacity: .6;
    }

        .cond-medias-line-name .progress {
            height: 4px;
            transition: s height cubic-bezier(1, 0, 1, 1);
        }

            .cond-media-progressbar {
                transition: 2s width linear;
            }

            .cond-medias-line[data-inprogress=false] .progress {
                height: 0px;
            }

    .cond-medias-line[data-inprogress=false] .cond-media-convert-spinner {
        display: none;
    }

    .cond-medias-line[data-inprogress=true] .cond-media-thumbnail-img {
        display: none;
    }

    .cond-medias-line-actions {
        width: 200px;
    }

        .cond-medias-line-actions .actions-container {
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: end;
            align-items: center;
        }

    .cond-medias-line[data-inprogress=true] .cond-medias-line-action-copy {
        display: none;
    }

    .cond-medias-line[data-inprogress=true] .cond-medias-line-action-preview {
        display: none;
    }

    .cond-medias-line[data-inprogress=true] .cond-medias-line-action-onair {
        display: none;
    }

        .cond-medias-line-actions .btn {
            margin: 0px 3px;
            --bs-btn-padding-y: .25rem;
            --bs-btn-padding-x: .5rem;
            --bs-btn-font-size: .75rem;
        }

body:not(.edit-mode) .cond-line-display:has(.cond-line-done-checkbox[type=checkbox]:checked) .cond-line-medias {
    background-color: rgb(30,30,30) !important;
    color: rgb(100,100,100) !important;
    text-decoration: line-through;
    opacity: .5;
}

body:not(.edit-mode) .cond-line-display:has(.cond-line-done-checkbox[type=checkbox]:checked) .cond-medias-line-actions {
    display: none;
}

.cond-medias-adder td {
    padding: 0px;
}

a.cond-medias-adder-link {
    display: block;
    width: 100%;
    height: 100%;
    transition: background-color .2s;
    background-color: rgb(0,20,50);
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 8pt;
    padding: 2px 0px;
}

a.cond-medias-adder-link i::after {
    content: " ";
}

a.cond-medias-adder-link:hover {
    background-color: rgb(0, 72, 207);
}