{% extends "_layout.jinja2" %}

{% block title %}
    {% if guid == None %}
        Créer une émission
    {% else %}
        Modifier une émission - {{ show.name }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% if show.id == None %}
                    <h1>Nouvelle émission</h1>
                {% else %}
                    <h1>Modifier une émission</h1>
                    <h2>{{ show.name }}</h2>
                {% endif %}
            </div>
            <div class="col-6 text-end">
                <a href="{{ url_for("shows.shows") }}" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-left"></i> Retour</a>
            </div>
        </div>

        <form action="" method="post" enctype="multipart/form-data">

            {% if form.errors.values() %}
                <div class="alert alert-danger">
                    Pas si vite ! Les erreurs suivantes ont été détectées :
                    <ul class="mt-2">
                        {% for field, errors in form.errors.items() %}
                            {% for error in errors %}
                                <li>{{ form[field].label.text }} : {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <fieldset>
                <legend>Général</legend>

                <div class="mb-3 row">
                    {{ form.name.label(class="col-form-label col-sm-3") }}
                    <div class="col-sm-9">
                        {{ form.name(class="form-control") }}
                        {% if form.name.description %}<div class="form-text">{{ form.name.description }}</div>{% endif %}
                    </div>
                </div>

                <div class="mb-3 row">
                    {{ form.description.label(class="col-form-label col-sm-3") }}
                    <div class="col-sm-9">
                        {{ form.description(class="form-control") }}
                        {% if form.description.description %}<div class="form-text">{{ form.description.description }}</div>{% endif %}
                    </div>
                </div>

                <div class="mb-3 row">
                    {{ form.logo.label(class="col-form-label col-sm-3") }}
                    <div class="col-sm-9">
                        {{ form.logo(class="form-control") }}
                        {% if form.logo.description %}<div class="form-text">{{ form.logo.description }}</div>{% endif %}
                    </div>
                </div>
                {% if show.logo!=None and show.logo!="" %}
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 text-center">
                            <img src="/images/{{ show.logo }}" class="img-thumbnail" alt="" style="width: 100px; height: 100px; object-fit: cover;">
                            <br>
                            {{ form.logo_delete() }}
                            {{ form.logo_delete.label }}
                        </div>
                    </div>
                {% endif %}

                <div class="mb-3 row">
                    {{ form.roles.label(class="col-form-label col-sm-3") }}
                    <div class="col-sm-9">
                        {{ form.roles(class="form-control", rows=10) }}
                        {% if form.roles.description %}<div class="form-text">{{ form.roles.description }}</div>{% endif %}
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Paramètres de transcodage vidéo</legend>

                <div class="mb-3 row">
                    {{ form.videoWidth.label(class="col-form-label col-sm-3") }}
                    <div class="col-sm-9">
                        {{ form.videoWidth(class="form-control") }}
                        {% if form.videoWidth.description %}<div class="form-text">{{ form.videoWidth.description }}</div>{% endif %}
                    </div>
                </div>

                <div class="mb-3 row">
                    {{ form.videoHeight.label(class="col-form-label col-sm-3") }}
                    <div class="col-sm-9">
                        {{ form.videoHeight(class="form-control") }}
                        {% if form.videoHeight.description %}<div class="form-text">{{ form.videoHeight.description }}</div>{% endif %}
                    </div>
                </div>

                <div class="mb-3 row">
                    {{ form.videoQuality.label(class="col-form-label col-sm-3") }}
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-10">
                                <input type="range" class="form-range" name="videoQuality" id="{{ form.videoQuality.id }}" min="0" max="1" step="0.1" value="{{ show.videoQuality or 0.5 }}" oninput="document.getElementById('videoQualityOutput').innerText = this.value*100 + ' %';">
                            </div>
                            <div class="col-2 text-nowrap" id="videoQualityOutput">
                                {{ math.floor((show.videoQuality or 0)*100 or 50) }} %
                            </div>
                        </div>
                        {% if form.videoQuality.description %}<div class="form-text">{{ form.videoQuality.description }}</div>{% endif %}
                    </div>
                </div>

            </fieldset>

            <div class="col-12">
                {{ form.hidden_tag() }}
                {{ form.id }}
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>


        
    </div>
{% endblock %}