
    <header class="sticky-top">
        <div id="toolsbar" class="d-flex flex-row flex-nowrap border-bottom w-100">
            <div class="col d-flex flex-nowrap justify-content-begin align-items-center gap-1" id="toolsbar-buttons-left">
                <ul class="nav gap-1">
                    <li>
                        <button class="btn btn-sm btn-outline-light text-center px-3" onclick="document.body.classList.toggle('edit-mode'); this.classList.toggle('btn-outline-light'); this.classList.toggle('btn-danger');">
                            <i class="bi bi-pen-fill"></i>
                            <span class="toolbar-button-label">Édition</span>
                        </a>
                    </li>
                    {% if conductor.type != "template" %}
                        <li>
                            <button {{ "disabled" if not conductor.vdoEnable or conductor.guests.strip()=="" }} class="btn btn-sm btn-outline-light text-center px-3" data-bs-toggle="modal" data-bs-target="#vdoModal">
                                <i class="bi bi-webcam-fill"></i>
                                <span class="toolbar-button-label">VDO</span>
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-sm btn-outline-light text-center px-3" title="Marquer cet instant" data-bs-toggle="modal" data-bs-target="#markerModal">
                                <i class="bi bi-bookmark-plus-fill"></i>
                                <span class="toolbar-button-label">Marqueur</span>
                            </button>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-4 text-center d-flex flex-column justify-content-center" id="toolsbar-title">
                {% if conductor.type != "template" %}
                    <h1>
                        <i class="bi bi-record-fill" id="conductorIconRecord"></i>
                        <i class="bi bi-broadcast" id="conductorIconStream"></i>
                        {{ conductor.name }}
                    </h1>
                    <h2>
                        {{ show.name }}
                    </h2>
                    <h3>
                        Le {{ conductor.date.strftime("%A %d %B %Y") | lower }}
                    </h3>
                {% else %}
                    <h1>Modèle de conducteur</h1>
                    <h2>{{ conductor.name }}</h2>
                    <h3>{{ show.name }}</h3>
                {% endif %}
            </div>
            <div class="col d-flex flex-nowrap justify-content-end align-items-center gap-1" id="toolsbar-buttons-right">
                    <ul class="nav gap-1">

                        {% if conductor.type != "template" %}
                            <li>
                                <button class="btn btn-sm btn-outline-light text-center px-3" data-bs-toggle="modal" data-bs-target="#viewerModal">
                                    <i class="bi bi-eyeglasses"></i>
                                    <span class="toolbar-button-label">Canaux</span>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <button data-href="{{ url_for("conductors.conductorsList", show_guid=show.id) }}" class="btn btn-sm btn-outline-danger text-center px-3" onclick="location.href = this.dataset.href;">
                                <i class="bi bi-door-open-fill"></i>
                                <span class="toolbar-button-label">Quitter</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>