#interact {
    display: none;
    z-index: 10003;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(70%) blur(50px);
    -o-backdrop-filter: brightness(70%) blur(50px);
    -ms-backdrop-filter: brightness(70%) blur(50px);
    -moz-backdrop-filter: brightness(70%) blur(50px);
    -webkit-backdrop-filter: brightness(70%) blur(50px);
}

    .preview #interact {
        display: flex;
    }

    #interact > div {
        font-size: 30px;
        font-family: "Tahoma", sans-serif;
        color: white;
        padding: 4vh 4vw;
        cursor: default;
        max-width: 80vw;
    }

    #interact input[type=range] {
        width: 100%;
        display: block;
        cursor: pointer;
    }

#identifier {
    z-index: -10000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    padding: 100px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: baseline;
    align-items: start;
    gap: 10px;
    color: white;
    text-shadow: 0px 0px 3px black;
    font-family: monospace;
    font-weight: bold;
    opacity: 1;
    background-image: url("/static/img/smpte.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#identifier.hide {
    opacity: 0;
}

    #identifier > * {
        background: rgba(0,0,0,.8);
        padding: 10px;
    }

    #identifier_id {
        font-size: 4vh;
    }
    #identifier_name {
        font-size: 10vh;
    }
    #identifier_resolution {
        font-size: 7vh;
    }
    #identifier_show {
        font-size: 6vh;
    }

#main:has(.media_item) ~ #identifier {
    display: none;
}

.alert {
    z-index: 10002;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: white;
    background: transparent;
    border: 10px solid red;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: .4s opacity;
    opacity: 0;
}

.alert .alertText {
    display: inline;
    background: rgba(0,0,0,.6);
    padding: 10px;
    text-shadow: 0px 0px 3px black;
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    animation: blinker .8s 0s infinite alternate;
    opacity: 1;
}

@keyframes blinker {
    0% { opacity: 1; }
    100% { opacity: .6; }
}


body {
    background: black;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.media_item {
    transition: .35s opacity;
    transition-delay: 0s;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.media_item.invisible {
    opacity: 0;
    transition-delay: .1s;
    z-index: -999;
}

.media_osd {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
.preview .media_osd {
    display: flex;
}

    .media_remain {
        color: red;
        opacity: 0.6;
        font-family: sans-serif;
        font-size: 60vh;
        font-weight: bolder;
        text-shadow: 0px 0px 10px black;
    }


    .media_progress {
        width: 100%;
        height: 10px;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

        .media_progress .progressbar {
            height: inherit;
            background-color: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(30px);
            -o-backdrop-filter: blur(30px);
            -ms-backdrop-filter: blur(30px);
            -moz-backdrop-filter: blur(30px);
            -webkit-backdrop-filter: blur(30px);
        }

.media_credit {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 4vh;
}

    .noSource .media_credit {
        display: none !important;
    }

.media_object {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}

    .media_object video, .media_object img, .media_object audio {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


#jingleVideoElement {
    display: none;
    z-index: 999999;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

#jingleVideoElement.show {
    display: block;
}